<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vogella.android.myapplication"
    android:versionCode="1"
    android:versionName="1.0">

    <!--
         <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="15" />
    -->

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.user.LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".activity.user.SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity android:name=".activity.AddTransactionActivity" />
        <activity android:name=".activity.CalendarActivity" />
        <activity android:name=".activity.SelectProjectActivity" />
        <activity android:name=".activity.EditTransactionActivity" />
        <activity android:name=".activity.AddProjectActivity" />
        <activity android:name=".activity.AddFarmActivity" />
        <activity android:name=".activity.SelectFarmActivity" />
        <activity android:name=".activity.AccountsViewActivity" />
        <activity android:name=".activity.NoFarmActivity" />
        <activity android:name=".activity.tasks.TaskNoteActivity" />
        <activity
            android:name=".activity.tasks.TaskActivity"
            android:label="@string/title_activity_task"
            android:theme="@style/AppTheme" />
    </application>

</manifest>